body {
    background:  #6CAFA9;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2em;
}

h1, h2, h4{
    color: #044445;
}

a{
    color: #f2f2f2;
    opacity: 1;
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    opacity: .5;
}

p{
    margin: 15px 0 15px 0;
}

/* ------- Navigation -------*/
.nav-bar {
    display: flex;
    justify-content: end;
}
.nav-bar ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-right: 40px;
}

.nav-item {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 5px 20px #c8c8c8;
    display: block;
    position: relative;
}

.login-btn {
    background-color: #00889f;
}

.login-btn a:before, .register-btn a:before, .logout-btn a:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.register-btn {
    background-color: #005260;
}

.logout-btn {
    background-color: #01505D;
    text-align: center;

}

.login-btn:hover, .register-btn:hover, .logout-btn:hover{
    box-shadow: none;
}

/* ------- Startside -------*/
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chatrooms{
    display: flex;
    flex-direction: column;
}

.newChatField{
    margin-top: 5rem
}

.newChatField a{
text-align: center; 
display: block;
}

.newChatField input{
width: 100%   
}

.DEBUG{
    color:red;
    margin-top: 5rem
}

/* ------- LOGIN -------*/
.login-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
}

.btn-primary{
       font-family: 'Courier New', Courier, monospace;
}

.form-check{
    margin-top: 10px;
}

.login-div{
    margin: 30px 0 5px 0;
}

/* ------- Chat sider -------*/
div#messages {
    height: 60vh;
    width: 40vw;
    background: white;
    overflow: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 19px -4px rgb(0 0 0 / 45%);
}
.message {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem;
    /* border-bottom: 1px solid lightgrey; */
}
.control{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    box-shadow: 0px 0px 19px -4px rgb(0 0 0 / 45%);
    background: #efefef;
    
    
}
input#query {
    width: 45vw;
    height: 80%;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 20px;
    margin: 0 5px;
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace;

}
input#user {
    height: 98%;
    background: #efefef;
    width: 7vw;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-bottom-left-radius: 5px;
}
/*submit btn*/
button#submit {
    height: 100%;
    width: 130px;
    font-size: 25px;
    font-weight: 600;
    color: #363636;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-bottom-right-radius: 5px;
    box-shadow: -7px 3px 5px -8px rgb(0 0 0 / 21%);

}
button#submit:hover{
    background: #d6d6d6;
}

.content{
margin: 0 5px 0 15px;
padding: 10px;
border-radius: 5px;
background: #d4d4d4;
}

.backBtn{
    align-self: flex-start
}